<div class="container">
    <h1>Add discussion</h1>
    <form>
        <div class="form-group">
            <label for="observer">Observer</label>
            <input type="text" class="form-control" id="Observer" required>
        </div>
        <div class="form-group">
            <label for="alterEgo">Date of Discussion</label>
            <input type="text" class="form-control" id="alterEgo">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

-          The Observer (user entering the safety discussion)
-          Date of discussion
-          Location of discussion
-          Colleague the discussion was with
-          Subject of discussion
-          Outcomes
