<h1>Counter</h1>

<p>This is a simple example of an Angular 2 component.</p>

<p>Current count so far: <strong>{{ currentCount }}</strong></p>

<button (click)="incrementCounter()">Increment</button>
